<p id="notice"><%= notice %></p>

<p>
  <strong>Isbn:</strong>
  <%= @book.isbn %>
</p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @book.price %>
</p>

<p>
  <strong>Publish:</strong>
  <%= @book.publish %>
</p>

<p>
  <strong>Published:</strong>
  <%= @book.published %>
</p>

<p>
  <strong>Cd:</strong>
  <%= @book.cd %>
</p>

<p>
  <strong>Reviews:</strong>
<% unless @book.reviews.empty? %>
</p>
<ul>
    <% @book.reviews.each do |review| %>
        <li><%= review.body %></li>
    <% end %>
</ul>
<% end %>

<p>
  <strong>Authors:</strong>
<% unless @book.authors.empty? %>
</p>
<ul>
    <% @book.authors.each do |author| %>
        <li><%= link_to author.name, user_path(author.user_id) %></li>
    <% end %>
</ul>
<% end %>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
